* {
    font-family: 'Helvetica', sans-serif;
}

header {
    background-image: url('../img/pattern.webp');
    font-family: 'Helvetica';
    font-size: 60px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.heading {
    font-family: 'Helvetica';
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.itemPrice {
    font-family: 'Helvetica';
    font-weight: bold;
    color: blue;
}
#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}